.films {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.films__list {
  margin: 78px 70px 10px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 37px 28px;
  max-height: 1315px;
}

.films__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 51px;
  margin-bottom: 80px;
}

.films__button {
  box-sizing: border-box;
  width: calc(100% - 140px);
  height: 36px;
  background-color: #2f2f2f;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.films__button:hover {
  border: 1px solid #3ddc84;
  background-color: rgba(43, 224, 128, 0.2);
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .films__list {
    padding: 0;
    margin: 81px auto -37px;
    grid-template-columns: repeat(2, 339px);
    gap: 30px 30px;
    max-height: 1238px;
  }

  .films__button {
    width: calc(100% - 60px);
  }

  .films__button-container {
    margin-top: 117px;
    margin-bottom: 81px;
  }
}

@media screen and (max-width: 767px) {
  .card {
    height: 237px;
  }
  .films__list {
    max-height: 1307px;
    margin: 50px auto 10px;
    grid-template-columns: repeat(1, 300px);
    gap: 18px;
  }

  .films__button {
    width: calc(100% - 60px);
  }

  .films__button-container {
    margin: 70px 0 80px;
  }
}

@media screen and (max-width: 380px) {
  .films__button {
    width: 300px;
  }
}
